<!--publickey.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Public Key</title>
</head>
<body>
<h1>Public Key</h1>
<form method="post">
    <label>Public Key :</label>
    <br>
    <label><%= publickey %></label>
</form>
</body>
</html>