<!--main.ejs-->
<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mb-3">
      <h2 class="mb-3">Main</h2>
      <tr>
        <div style="text-align: center; vertical-align: middle;">
          <a class="btn btn-primary" href="/vote" style="font-size: 50px; width:250px; height:150px; padding: 35px;"
            >Vote</a
          >
          <a
            class="btn btn-primary"
            href="/result"
            style="font-size: 50px; width:250px; height:150px; padding: 35px;"
            
            >Result</a
          >
        </div>
      </tr>
      <br />
      <tr>
        <div style="text-align: center; vertical-align: middle;">
          
        </div>
      </tr>
    </div>
  </body>
</html>