<!--main.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>Main</h1>
<form method="post">
    <input type="button" value="vote" onClick="location.href='http://localhost:3000/vote'">
    <input type="button" value="result" onClick="location.href='http://localhost:4000/result'">
</form>
</body>
</html>