<!-- welcome.ejs (홈화면) -->
<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container mb-3">
      <div class="jumbotron">
        <h1>About homomorphic encryption</h1>
        <P
          >Homomorphic encryption is a form of encryption with an additional
          evaluation capability for computing over encrypted data without access
          to the secret key. The result of such a computation remains encrypted.
        </P>

        <h1>Voting security</h1>
        <p>
          Homomorphic encryption used to safeguard your vote - one of the
          emerging technologies concerning security issues. And we can't share
          or use voter data - your votes stay private for both you and your
          voters.
        </p>
      </div>
    </div>
  </body>
</html>